@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    font-family: 'Roboto',sans-serif;
    background-color: #ccc;
    margin: 0;
}
main{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
footer p{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
img{
    transition: all .3s ease-in-out;
}
img:hover{
    transform: rotate(360deg) scale(1.2);
}
.game-grid{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap:1px;
}
.game-cell{
    border: 1px solid black;
    cursor: pointer;
    background-color: white;
    -webkit-user-select: none;        
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}